[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Mad Qt example
Exec=/usr/bin/qthello
Icon=qthello
X-HildonDesk-ShowInToolbar=true
X-Window-Icon=qthello
X-Window-Icon-Dimmed=qthello
X-Osso-Type=application/x-executable
X-Osso-Service=com.nokia.qthello
